.ez-view-pvrezcommentdashboardview {
    background: #fff;
}

.ez-view-pvrezcommentdashboardview .pvrezcomment-title {
    margin-top: 0;
}

.ez-view-pvrezcommentdashboardview .pvrezcomment-dashboard {
    margin: 0 auto;
}

.ez-view-pvrezcommentdashboardview .l-box {
    padding: 1em;
}

.ez-view-pvrezcommentdashboardview table {
    width: 100%;
}

/**
 * Display right table
 **/
.ez-view-pvrezcommentdashboardview table.status thead {
    display: none;
}

.ez-view-pvrezcommentdashboardview table.status thead {
    display: none;
}

.ez-view-pvrezcommentdashboardview table.status tbody {
    font-size: 0.9em;
}

.ez-view-pvrezcommentdashboardview table.status tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
}

.ez-view-pvrezcommentdashboardview table.status td {
    padding: 2px 0;
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
}

.ez-view-pvrezcommentdashboardview table.status td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}

.ez-view-pvrezcommentdashboardview table.status td:last-child {
    border-bottom: 0;
}